<%- include('../layouts/header') %>
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
		<!--start slider section-->
		<!-- <section class="slider-section mb-4">
			<div class="first-slider p-0"> 

				<div class="banner-slider owl-carousel owl-theme">
					<div class="item"> 
						<div class="position-relative">
							<div class="position-absolute top-50 slider-content translate-middle">
								<h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
								<h1 class="h1 fw-bold">Women Fashion</h1>
								<p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
								<div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
								</div>
							  </div> 
							<a href="javascript:;">
								<img src="userAssets/images/banners/02.png" class="img-fluid" alt="...">
							</a>
						</div>
					</div>
					<div class="item">
						<div class="position-relative">
							<div class="position-absolute top-50 slider-content translate-middle">
								<h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
								<h1 class="h1 fw-bold">Men Fashion</h1>
								<p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
								<div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
								</div>
							  </div>
							<a href="javascript:;">
								<img src="userAssets/images/banners/02.png" class="img-fluid" alt="...">
							</a>
						</div>
					</div>
					<div class="item">
						<div class="position-relative">
							<div class="position-absolute top-50 slider-content translate-middle">
								<h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
								<h1 class="h1 fw-bold">Kids Fashion</h1>
								<p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
								<div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
								</div>
							  </div>
							<a href="javascript:;">
								<img src="userAssets/images/banners/04.png" class="img-fluid" alt="...">
							</a>
						</div>
					</div>
				</div>

			</div>
		</section> -->
		<!--end slider section-->

<!--start carousel-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 100%; max-width: 100%; height: 450px; overflow: hidden;">
	<div class="carousel-inner" style="width: 100%; height: 450px;">
  
	  <!-- Slide 1 -->
	  <div class="carousel-item active" style="width: 100%; height: 400px;">
		<img src="userAssets/images/banners/02.png" class="d-block w-100" alt="userAssets/images/banners/04.png">
		<div class="carousel-caption d-none d-md-block">
		  <a href="#" class="btn btn-light btn-ecomm px-4 rounded">Shop Now</a>
		</div>
	  </div>
  
	  <!-- Slide 2 -->
	  <div class="carousel-item" style="width: 100%; height: 400px;">
		<img src="userAssets/images/banners/04.png" class="d-block w-100" alt="userAssets/images/banners/04.png">
		<div class="carousel-caption d-none d-md-block">
		  <a href="#" class="btn btn-light btn-ecomm px-4 rounded">Shop Now</a>
		</div>
	  </div>
  
	  <!-- Slide 3 -->
	  <div class="carousel-item" style="width: 100%; height: 400px;">
		<img src="userAssets/images/banners/04.png" class="d-block w-100" alt="userAssets/images/banners/04.png">
		<div class="carousel-caption d-none d-md-block">
		  <a href="#" class="btn btn-light btn-ecomm px-4 rounded">Shop Now</a>
		</div>
	  </div>
  
	</div>
  
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>
  
  
  
  <!-- Include Bootstrap JavaScript -->
  <!-- <script src="path/to/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  
  <script>
	// Activate the carousel
	$('.carousel').carousel({
	  interval: 3000 // Set the interval to 3 seconds (3000 milliseconds)
	});
  </script>
  
  <script>
	var myCarousel = document.getElementById('myCarousel');
  
	var carousel = new bootstrap.Carousel(myCarousel, {
	  interval: 3000,
	  pause: 'hover',
	  wrap: true
	});
  </script>
  
<!--end carousel-->

		
		
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				

				<!--start pramotion-->
				<!-- <section class="py-4">
					<div class="container">
						<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
							<div class="col">
								<div class="card rounded-0 shadow-none bg-info bg-opacity-25">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="userAssets/images/promo/01.png" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase fw-bold">Men Wear</h5>
												<p class="card-text text-uppercase">Starting at $9</p>
												<a href="javascript:;" class="btn btn-outline-dark btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card rounded-0 shadow-none bg-danger bg-opacity-25">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="userAssets/images/promo/02.png" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase fw-bold">Women Wear</h5>
												<p class="card-text text-uppercase">Starting at $9</p>	<a href="javascript:;" class="btn btn-outline-dark btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card rounded-0 shadow-none bg-warning bg-opacity-25">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="userAssets/images/promo/03.png" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase fw-bold">Kids Wear</h5>
												<p class="card-text text-uppercase">Starting at $9</p><a href="javascript:;" class="btn btn-outline-dark btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</section> -->
				<!--end pramotion-->

				<!--start Featured product-->
				<section class="py-4">
					<div class="container">
						<div class="separator pb-4">
							<div class="line"></div>
							<h5 class="mb-0 fw-bold separator-title">FEATURED PRODUCTS</h5>
							<div class="line"></div>
						</div>


						  <!-- Listing Products-->
						  
						

								<div class="product-grid">
									<div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5  g-sm-4">
										<% if(product.length > 0){
												for(let i = 0; i < product.length; i++){ %>

													   <% if(product[i].isDeleted === false){ %>
										<div class="col">

													
											<div class="card">
												<div class="position-relative overflow-hidden">
													<div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
														<a href="javascript:;"><i class="fa-solid fa-cart-shopping"></i></a>
													  </div>
												
												  <!-- The detail of the product is sent through params-->
												  <a href="/product-detail/<%= product[i]._id %>">
													<img src="/products/<%=product[i].images[0]%>" class="img-fluid"  alt="...">
												  </a>
												</div>
												<div class="card-body px-0">
												  <div class="d-flex align-items-center justify-content-between">
													  <div class="">
														  <!-- <p class="mb-1 product-short-name">Topwear</p> -->
														  <h6 class="mb-0 fw-bold product-short-title"><%= product[i].name %></h6>
													  </div>
													  <div class="icon-wishlist">
														<!-- <a href="#" id="addToWishlist" data-product-id="<%= product[i]._id %>"><i class="bx bx-heart"></i></a> -->
													</div>
												  </div>




												  <!-- <script>
													document.addEventListener('DOMContentLoaded', function () {
														document.querySelectorAll('#addToWishlist').forEach(function(icon) {
															if (!icon.hasAttribute('data-event-listener')) {
																icon.setAttribute('data-event-listener', 'true');
												
																icon.addEventListener('click', function (e) {
																	e.preventDefault();
												
																
												
																	var productId = this.getAttribute('data-product-id');
																	console.log('Product ID:', productId);
												
																	var wishlistEndpoint = '/add-to-wishlist?productId=' + productId;
												
																	fetch(wishlistEndpoint, {
																		method: 'POST',
																		headers: {
																			'Content-Type': 'application/json'
																			// Add any other headers if needed
																		},
																		// You can include a request body if necessary
																		// body: JSON.stringify({ productId: productId })
																	})
																	.then(response => response.json())
																	.then(data => {
																		console.log(data);
																		console.log('Product ID:', productId);
												
																		// Update the icon on successful addition to the wishlist
																		if (data.success) {
																				// Replace the heart icon with a checkmark
																				icon.innerHTML = '<i class="bx bx-check"></i>';
																			}
																	})
																	.catch(error => {
																		console.error('Error adding product to wishlist:', error);
																		console.log('Product ID:', productId);
																	});
																});
															}
														});
													});
												</script> -->
												
												
												
												

















												  <!-- <div class="cursor-pointer rating mt-2">
													  <i class="bx bxs-star text-warning"></i>
													  <i class="bx bxs-star text-warning"></i>
													  <i class="bx bxs-star text-warning"></i>
													  <i class="bx bxs-star text-warning"></i>
													  <i class="bx bxs-star text-warning"></i>
												  </div> -->
												  <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
													<div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">Rs. <%= product[i].price %></div>
												
												
													<div class="h6 fw-bold">
														<% if (product[i].offer && product[i].offer.percentage) { %>
															Rs. <%= calculateDiscountedPrice(product[i].price, product[i].offer.percentage) %> <span class="text-success">(<%=product[i].offer.percentage%>% off)</span>
														  <% } else { %>
															Rs. <%= product[i].price %>
														  <% } %>
														<span>
															<% function calculateDiscountedPrice(originalPrice, discountPercentage) { %>
																<% const discountAmount = originalPrice * (discountPercentage / 100); %>
																<% const discountedPrice = originalPrice - discountAmount; %>
																<% return Math.floor(discountedPrice); %>
															  <% } %>
														</span>
													</div>
												</div>
												
												</div>
											  </div>
										  </div>

										  
                                        <% } %>

										  <% } } %>

									</div>
									  </div><!--end row-->
								</div>
					</div>
				</section>

				<!--end Featured product-->
				<!-- Include this script after jQuery -->
				

				
				<!--start categories-->
				<section class="py-4">
					<div class="container">
						<div class="separator pb-4">
							<div class="line"></div>
							<h5 class="mb-0 fw-bold separator-title">Browse Catergory</h5>
							<div class="line"></div>
						 </div>

						<div class="product-grid">
							<div class="browse-category owl-carousel owl-theme">
								<% if(category.length > 0){
									category.forEach((ele) => { 
										if(ele.isDeleted === false){ %>
										<div class="item">
											<div class="card rounded-0">
												<div class="card-body p-0">
													<img src="/category/<%= ele.imagePath %>" class="img-fluid" alt="...">
												</div>
												<div class="card-footer text-center bg-transparent border">
													<h6 class="mb-0 text-uppercase fw-bold"><%= ele.name %></h6>
													<!-- <p class="mb-0 font-12 text-uppercase">10 Products</p> -->
												</div>
											</div>
										</div>
										<% } %>
								<% }) } %>
							</div>
						</div>
					</div>
				</section>
				<!--end categories-->


				<!--start support info-->
				<!-- <section class="py-5 bg-light">
					<div class="container">
						<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark"><i class='bx bx-cart-add' ></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Free delivery</h5>
									<p class="text-capitalize">Free delivery over $199</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark"><i class='bx bx-credit-card'></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Secure payment</h5>
									<p class="text-capitalize">We possess SSL / Secure сertificate</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark">	<i class='bx bx-dollar-circle'></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Free returns</h5>
									<p class="text-capitalize">We return money within 30 days</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark">	<i class='bx bx-support'></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Customer Support</h5>
									<p class="text-capitalize">Friendly 24/7 customer support</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
						</div>
					</div>
				</section> -->
				<!--end support info-->				
			</div>
		</div>
		<!--end page wrapper -->


		



	</div>
	<!--end wrapper-->

	<%- include('../layouts/footer') %>