<%- include('../layouts/header') %>
<!--start page wrapper -->
<div class="page-wrapper">
  <div class="page-content">
    <!--start breadcrumb-->
    <section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
      <div class="container">
        <div class="page-breadcrumb d-flex align-items-center">
          <h3 class="breadcrumb-title pe-3">My Order Details</h3>
          <div class="ms-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                  <a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:;">Account</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  My Order Details
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--end breadcrumb-->
    <!--start shop cart-->
    <section class="py-4">
        <div class="container">
          <h3 class="d-none">Account</h3>
      
          <div class="row">
            <!-- Order Details and Address -->
            <div class="col-md-6 d-flex flex-column">
              <div class="card flex-grow-1">
                <div class="card-body">
                  <!-- Order Details -->
                  <div class="order-details">
                    <h4>Order Details</h4>
                    <p>Order ID: <span class="fw-bolder text-dark"> <%= order._id %></span></p>
                    <p>Date: <span class="fw-bolder text-dark"> <%= new Date(order.date).toLocaleString() %></span></p>
                    <p>Total Price: <span class="fw-bolder text-dark">Rs. <%= order.total_amount %></span></p>
                    <p>Payment Method: <span class="fw-bolder text-dark"> <%= order.payment %></span></p>
                    <p>Status: <span class="fw-bolder text-dark"> <%= order.items.status %></span></p>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-md-6 d-flex flex-column">
              <div class="card flex-grow-1 mt-3 mt-md-0">
                <div class="card-body">
                  <!-- Address -->
                  <div class="address">
                    <h4>Address</h4>
                    <p>Name: <span class="fw-bolder text-dark"><%= user.name %></span></p>
                    <p>Mobile:<span class="fw-bolder text-dark"> <%= user.mobile %></span></p>
                    <p>Street: <span class="fw-bolder text-dark"><%= address.streetaddress %></span></p>
                    <p>City:<span class="fw-bolder text-dark"> <%= address.city %> </span></p>
                    <p>State:<span class="fw-bolder text-dark"> <%= address.state %></span></p>
                    <p>Pincode:<span class="fw-bolder text-dark"> <%= address.pincode %></span></p>
                    <!-- Add more address details as needed -->
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Product Details -->
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <!-- Product Details -->
                  <div class="product-details">
                    <div class="row">
                      <!-- Left side for the image -->
                      <div class="col-md-4">
                        <img src="/products/<%= order.productDetails.images[0] %>" alt="Product Image" class="img-fluid" style="height: 17em;">
                      </div>
                      <!-- Right side for other details -->
                      <div class="col-md-8 ">
                        <h4>Product Details</h4>
                        <div class="product">
                          <p>Product Name: <span class="fw-bolder text-dark"> <%= order.productDetails.name %></span></p>
                          <p>Quantity: <span class="fw-bolder text-dark"> <%= order.items.quantity %></span></p>
                          <p>Price: <span class="fw-bolder text-dark">Rs. <%= order.items.price %></span></p>
                          <p>Color: <span class="fw-bolder text-dark"> <%= order.productDetails.color %></span></p>
                          <p>Details: <span class="fw-bolder text-dark"> <%= order.productDetails.description %></span></p>
                        </div>
                        
                        <!-- Add more product details as needed -->
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      
        </div>
      </section>
      
      
    <!--end shop cart-->
  </div>
</div>
<!--end page wrapper -->

<%- include('../layouts/footer') %>
