
<%- include('../layouts/header') %>

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Wishlist Grid</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Wishlist</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Wishlist</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start Featured product-->
				<section class="py-4">
					<div class="container">
						<div class="product-grid">
							<% if( wishlistData.length > 0){ %>
							<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
									<% wishlistData.forEach((product) => { %>

										<div class="col" id="productGrid-<%= product.productDetails._id %>">
											<div class="card rounded-0 border">
												<a href="#">
													<img src="/products/<%= product.productDetails.images[0] %>" class="card-img-top " alt="..." >
												</a>
												<div class="card-body">
													<div class="product-info">
													
														<a href="javascript:;">
															<h6 class="product-name mb-2"><%= product.productDetails.name %></h6>
														</a>
														<div class="d-flex align-items-center">
															<div class="mb-1 product-price">	<span class="me-1 text-decoration-line-through">Rs. <%= product.productDetails.price %></span>
																<span class="fs-5">
																	<% if (product.offers && product.offers.percentage) { %>
																		Rs. <%= calculateDiscountedPrice(product.productDetails.price, product.offers.percentage) %> <span class="text-success">(<%=product.offers.percentage%>% off)</span>
																	  <% } else { %>
																		Rs. <%= product.productDetails.price %>
																	  <% } %>
																	
																		<% function calculateDiscountedPrice(originalPrice, discountPercentage) { %>
																			<% const discountAmount = originalPrice * (discountPercentage / 100); %>
																			<% const discountedPrice = originalPrice - discountAmount; %>
																			<% return Math.floor(discountedPrice); %>
																		  <% } %>
																</span>
															</div>
															
														</div>
	
														<div class="product-action mt-2">
															<div class="d-grid gap-2 d-flex justify-content-between">
															  <form action="/add-to-cart/<%= product.productDetails._id %>" method="post">
																<button type="submit" class="btn btn-dark btn-ecomm" name="addToCart">
																  <i class="bx bxs-cart-add"></i>Add to Cart
																</button>
															  </form>
															  
															  <!-- <form action="/remove-from-wishlist?productId=<%= product.productDetails._id %>" method="post">
																<button type="submit" class="btn btn-danger ">Remove
																</button>
															  </form> -->

															  <button type="button" class="btn btn-danger" onclick="removeFromWishlist('<%= product.productDetails._id %>')">Remove</button>
															</div>
														  </div>
														  
														  
														  
													</div>
												</div>
											</div>
										</div>
										
	
									<% }) %>
							</div>
							<% } else { %>
								<div class="d-flex justify-content-center align-items-center" id="wishlistImage">
									<img src="/userAssets/images/wishlist.jpg" id="wishlistImage" alt="" class="img-fluid" style="height: 20em;" >
								</div>
							<% } %>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end Featured product-->
			</div>
		</div>
		<!--end page wrapper -->
		<!--start footer section-->
		=
		<!--end footer section-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
	</div>
	<!--end wrapper-->
	<script>
		async function removeFromWishlist(productId) {
			try {
				const response = await fetch(`/remove-from-wishlist?productId=${productId}`, {
					method: 'DELETE'
				});

				if(response.ok) {
					const result = await response.json();

					// Assuming productGridId is unique for each product
					const productGrid = document.getElementById(`productGrid-${productId}`);

					if (productGrid) {
						// Hide the product grid element instead of the entire productGrid
						productGrid.style.display = 'none';
					}

					document.getElementById("wishlistCount").innerHTML = result.itemCount

		

				} else {
					console.error("Failed to remove from wishlist");
				}
			} catch (error) {
				console.log(error)
			}
		}
	</script>

	<%- include('../layouts/footer') %>